<div class="col-md-2">
  <h4>
    <span class="footer-link">
    <a href="/">{{site.title}}</a>
    </span>
    <span class="footer-link">
    <a href="/impressum.html">Impressum</a>
    </span>
  </h4>
</div>

<div class="col-md-3">
  {% include custom/social_icon_list.html %}
</div>

<div class="col-md-2">
  <a href="https://uberspace.de"><img src="/images/uberspace.png" class="img-responsive center-block" style="height: 50px;"></a>
</div>

<div class="col-md-5">
  <div class="pull-right">
    <h4>Powered by <a href="http://octopress.org/">Octopress</a>. Design inspired by <a href="http://AdrianArtiles.com">Adrian Artiles</a>.</h4>
  </div>
</div>

{% include piwik_analytics.html %}
