<div id="picture-container" class="col-md-2">
  <div id="picture" style="width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 100px;
	background: url(https://lh6.googleusercontent.com/-JiPIMdvJDWI/AAAAAAAAAAI/AAAAAAAAAJc/RpA9EvadSBI/s200-c/photo.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;"></div>
</div>
<div id="about-me" class="col-md-offset-1 col-md-4">
  <div class="about-div">
    <h4>about me</h4>
    <p>
      I'm a student of computer and information science from Germany. 
      Currently I am writing my master thesis at the University of Groningen in the Netherlands.
    </p>
    <p>
      I like
      Linux, Ruby on Rails, Open Source, traveling, sports and a lot more.
    </p>
  </div>
  <div class="about-div">
    <h4>photography</h4>
    <p>
      You can find some pictures from my year in Sweden on my <a href="http://photography.taufderl.de">Worpress Blog</a>, but there will be a new page soon.
    </p>
  </div>
</div>
<div id="projects" class="col-md-offset-1 col-md-4">
  <div class="about-div">
    <h4>Recent Projects</h4>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="http://querys.taufderl.de">QUERYS</a> - just another question answering machine
      </li>
      <li class="list-group-item"><a href="http://twitter-crow.taufderl.de">TwitterCrow</a> - an intelligent Tweet generator</li>
      <li class="list-group-item">Programmer in the <a href="https://let.webhosting.rug.nl/~incpar/">INCPAR project</a></li>
    </ul>
    <p>Find more projects on my <a href="https://github.com/taufderl">GitHub</a> page</p>
  </div>
  <div class="about-div">
    <h4>part of</h4>
    <ul>
      <li><a href="http://kath-jugend-belm.de">kath-jugend-belm.de</a></li>
      <li><a href="http://party-belm.de">party-belm.de</a></li>
    </ul>
  </div>
</div>
