<div class="social-icon-list">
  <a title="E-Mail" href="mailto:{{ site.email_address }}"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  <a title="GitHub" href="https://github.com/{{ site.github_user }}"><img src="/images/glyphicons_social_21_github.png"/></a>
  <a title="Twitter" href="https://twitter.com/{{ site.twitter_user }}"><img src="/images/glyphicons_social_31_twitter.png"/></a>
  <a title="Facebook" href="https://facebook.com/{{ site.facebook_user }}"><img src="/images/glyphicons_social_30_facebook.png"/></a>
  <a title="LinkedIn" href="{{ site.linkedin_profile }}"><img src="/images/glyphicons_social_17_linked_in.png"/></a>
  <a title="Google+" href="https://plus.google.com/{{ site.googleplus_user }}"><img src="/images/glyphicons_social_02_google_plus.png"/></a>
  <a title="Android Developer" href="#/{{ site.android_developer }}"><img src="/images/glyphicons_social_48_android.png"/></a>
</div>
